<br>

<h1>lonely? <br> meet a furry friend today.</h1>

<%= link_to(image_tag('sign_in.png', class: 'image-responsive', style: "width:150px;height:250"), '/renters/login',  :method => :get) %>

<%= link_to(image_tag('create_account.png', class: 'image-responsive', style: "width:150px;height:250"), '/renters/new_user',  :method => :get) %>








